/*******************************Body Changes*********************************/
body{
    margin: 0;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.top-container{
    background-color: #EAF6F6;
    padding-top: 200px;
}

.skill-row{
    width: 50%;
    display: inline-block;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.hr{
    width: 4%;
    border-width: 10px;
    border-top: 0px;
    border-style: dotted;
    color: #EAF6F6;
    margin: 100px auto 100px auto;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 70px 0px 40px 0px
}

/*******************************Image Changes*********************************/
.top-cloud{
    position: absolute;
    right: 500px;
    top: 150px;
}

.bottom-cloud{
    position: absolute;
    left: 500px;
}

.guitar-image{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.three-d-image{
    width: 25%;
    float: right;
    margin-left: 30px;
}
/*******************************Paragraph Changes*********************************/
h1{
    font-family: "DotGothic16", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    color: #66BFBF;
    line-height: 4.6;
}

h2{
    font-size: 2.22rem;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    color: #11999E;
}
  
.footer-link{
    text-decoration: none;
}

  .contact-me{
    margin: 100px;
  }

  .queries{
    margin-bottom: 70px;
  }

  a{
    color: #11999E;
}

  .btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    text-shadow: 0px 0px 7px #666666;
    font-family: Arial;
    color: #ebe4df;
    font-size: 29px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .last-text{
    color: white;
  }